@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body {
    background: #cecece
}

header {
    background: #000;
    color: #fff
}

.page {
    position: relative;
    min-height: 110vh;
}

.containerD {
    padding-bottom: 2.5rem; 
}

.background_bg {
  background-color: black;
}

.left-side,
.right-side {
    height: 100vh
}

.navbar-transparent {
    background: transparent
}

.navbar-nav>li>a {
    color: #fff
}

.navbar-nav>li:hover {
    border-bottom: 1px solid #fff
}

.navbar-nav>.active {
    border-bottom: 1px solid #fff
}

.navbar-brand {
    font-family: 'Allerta Stencil', sans-serif;
    color: #83ff00
}

.navbar-brand:hover {
    color: #fff
}

.left-side img {
    padding-top: 100px
}

.shape {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #ce0000, #7A0800 70%);
    position: absolute;
    clip-path: ellipse(500px 500px at 10% 5%)
}

.right-side {
    padding-top: 150px
}

.right-side h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.4em;
    text-align: center
}

.right-side p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold
}

.btn.order-button {
    background: transparent;
    border: 2px solid #83ff00;
    color: #83ff00;
    border-radius: 30%;
    transition: 0.7s
}

.btn.order-button:hover {
    border: 2px solid #ce0000;
    color: #ce0000
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #0D6EFD;
  text-align: center; 
}

.fancy_text {
  font-family: 'Allerta Stencil', sans-serif;
  color: white;
}

.background_img {
  background-image: url('https://media.discordapp.net/attachments/916170672072458251/916174596556865567/KON-yui-hirasawa-Running-with-a-Slice-of-Toast-500x281.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.ReactTable.-striped.-highlight {
    width: 532px;
}